.topMenu {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    .middle-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-container {
            .logo {
                width: 100%;
                max-width: 200px;
                height: auto;
            }
        }

        .function-container {
            display: flex;
            align-items: center;
            justify-content: end;
            height: 100%;
            width: 100%;
            max-width: 250px;
        }
    }

}